.green-noti {
  color: green;
  background-color: gainsboro;
  font-size: 20px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px 20px 10px;
}

.red-noti {
  color: red;
  background-color: gainsboro;
  font-size: 20px;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  margin: 0px 10px 20px 10px;
}

html {
  padding: 0 200px;
}

nav {
  display: flex;
  align-items: center;
  background-color: gainsboro;
  height: 50px;
  margin-bottom: 10px;
}

.link {
  padding: 10px;
}

.nav-right {
  margin-left: auto;
  padding-right: 10px;
}

.login-form > div {
  padding: 0 5px;
}

.login-form input {
  margin: 5px;
}

